.profile{
    width: 330px;
    height: 330px;
    display: flex;
    align-items: center;
    background-color: aqua;
    margin: 15, auto;
}

.description {
  display: flex;
  align-content: center;
  align-items: center;
}

.stats {
  list-style: none;
  display: flex;
}

li {
  display: block;
}

/* span {
  display: block;
} */

span.label {
  display: block;
}

span.quantity {
  display: block;
}
