.profile {
  width: 300px;
  height: auto;
  /* display: flex;
  align-items: center; */
  background-color: aqua;
  margin: 15, auto;
  text-align: center;
}

.description {
  padding: 15px;
}

.name {
  margin: 15, auto;
}

.tag {
  margin:15, auto;
}

.loocation {
  margin:15, auto;
}



.stats {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 15, auto;
  padding: 0;
  border: solid 1px gray;
}


.label {
  display: block;
}

.quantity {
  display: block;
}
